.scrollable {
    max-height: 130px; 
    overflow-y: auto; 
}
  
.scrollable::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}
  
.scrollable {
    scrollbar-width: thin; /* Use thin scrollbar */
    scrollbar-color: transparent transparent; /* Set scrollbar colors */
}
  