URL_CLIENT = http://localhost:3000
PORT = 5000

GOOGLE_CLIENT_ID= '501479635666-78l3fbheas6o92tc22oanlr5orullef7.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET= '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'
DATABASE='mongodb+srv://DienLB:Dien123%40@dienlb.5px6a.mongodb.net/PM_Project?retryWrites=true&w=majority'


FACEBOOK_APP_ID="your-facebook-app-id"
FACEBOOK_APP_SECRET="your-facebook-app-secret"


JWT_ACCESS_SECRET='hip060e484a86-9f01-4467-a271-158e8733b8d7'
JWT_REFRESH_SECRET= '0e484a86-9f01-4467-a271-158e8733b8d7'
JWT_REFRESH_KEY = '0a86-9f01-4467-a271-158e8733b8d7'

GMAIL_USER='lebadien46@gmail.com'
GMAIL_PASS='sjef hhis cjuc dprm'

CLOUDINARY_CLOUD_NAME='doic9eqgd'
CLOUDINARY_API_KEY='185157359235729'
CLOUDINARY_API_SECRET_KEY='MWQmlVFyCM7ANPtmOKXzyZfC-1A'