
.bQCeUz div{
    background-color: #15364e;
  }

  .cTDyHL ,.fQaywZ,.iHFxOs  {
    color: #fff !important;
  }

.fQaywZ svg{
    fill: #fff !important;
  }

.dKqvNc {
  /* display: none !important; */
}

.idRhPi ,.kJJpAb{
  display: none !important;
}
/* .hyJmLo{
  background-color: #15364e !important;
  height: 42px !important;
}
.fLoswr, .dkMaWQ {
    display: none !important;

} */
.ipswPB ,.iSyqGq{
  display: none !important;

}

.gKRsyv,.iaHorb {
  background: #fff !important;
  z-index: 1000;
}
  /* .bQCeUz  #reactSchedulerCanvasHeaderWrapper canvas{
    padding: 10px
  } *


